{{ form_start(genusForm) }}

    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily) }}
    {{ form_row(genusForm.speciesCount) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.firstDiscoveredAt) }}
    {{ form_row(genusForm.isPublished) }}

    <button type="submit" class="btn btn-primary" formnovalidate >Save</button>
{{ form_end(genusForm) }}